<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Distribution Network Optimization</title>

         <!-- Bootstrap CSS CDN -->
		 <link rel="stylesheet" href="../static/bootstrap.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="../static/style.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<!--        map-->
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
    </head>
	
	
	        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
		 
		 
		 <!-- Table -->

		 <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		 <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		 <script>
		 $(document).ready(function() {
    $('#example').DataTable( {
        "scrollY": 100,
        "scrollX": true
    } );
} );
	 </script>
	 <script>
		 $(document).ready(function() {
    $('#example1').DataTable( {
        "scrollY": 200,
        "scrollX": true
    } );
} );
	 </script>

	
	
	<style>
	.btn2{
	 background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	border-radius:10px;
	}
	.btn3{
	 background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	border-radius:10px;
	}
	.custom_line{
	display: inline-flex;
	}
	.custom_line li{
	padding-left:10px;
	}
	.custom_line li p{
	font-weight:600;
	}
	</style>
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3><a href="home">Distribution Network Optimization</a></h3>
                    <strong>DNO</strong>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="dataimport">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            Data Import
                        </a>
                    </li>
					<li class="">
                        <a href="facility_location">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            Optimization
                        </a>
                    </li>
                
                    
                </ul>

                
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
				
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                
							   <li ><a href="facilityhome">Facility Location</a></li>
                                <li ><a href="Inventorymanagment">Shipment Load Optimization</a></li>
                                <li ><a href="DISTRIBUTION_NETWORK_OPT">Admin</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="container-background">
				<h2>Facility Location </h2>
                <div class="line"></div>
                </div>

				
				<div style="width:100%; ">
				<div style="width:100%; >
				<div class="sebi">
				
					<form action="imprt" method='POST' enctype = "multipart/form-data">
					<table border="1" align="center" width="95%">
					<tr><td>
						<table width="100%">
						<tr>
						<td align="center" colspan = 4>
							<h4>Data Import</h4>
							
						</td>
						</tr>
						<tr>
						<td width="15%">
							&nbsp;&nbsp;Factory Data
						</td>
						<td width="35%">
							<input type="file" name="FactoryData" title=" Factory Data"  accept=".csv"/>	
						</td>
						<td  width="15%">
							Customer Data 
						</td>
						<td width="35%">
							<input type="file" name="CustomerData" title=" Customer Data" accept=".csv"/>
						</td>
						</tr>	
						<tr>
						<tr>
						<td height="35" colspan = 4 align="center">						
							<input type="submit" value="Import"/>
							
						</td>
						</tr>
						</table>
					</td>
					</tr>
					</table>
					</form>

					<div style="height:20px">
						</br><div style="color:red;height:30px"><center><strong>{{warning}}</strong></center></div>
					</div>
				</div>
				</div>
				
				
				<table width="100%" align="center">
				<tr>
					<td align="center"><h4>Location Map</h4></td>
					<td align="center"><h4>Factory Data</h4></td>
					<td align="center"><h4>Customer Data</h4></td>
				</tr>
				 <tr>
				   <td width="50%" >
					<div class="container-custom-body  row" style="margin-top:0px">
						<div class="content-text" >
						   <div id="map" style="width: 100%; height: 400px;"></div>
						</div>
					</div>
					<div class="gmap" >
						<div id="map" style="height:590px; width:10%"></div>
					</div>
				   </td>
				   <td valign="top">
						<div class="Scroll1">{{factory|safe}}</div>
					</td>
					<td  valign="top">
						<div class="Scroll2">{{customer|safe}}</div>
					</td>
			     </tr>	
			    </table>
			
				    
			</div>
		</div>
		<script>
			function initMap(){
				var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
				{% for item in loc1 %}
				var {{item[0]}} = new google.maps.LatLng({{item[1]}},{{item[2]}});{% endfor %}
				{% for item in loc2 %}
				var {{item[0]}} = new google.maps.LatLng({{item[1]}},{{item[2]}});{% endfor %}
				
				var map = new google.maps.Map(document.getElementById("map"),{center: {lat:40.5853, lng:-105.0844},zoom: 4,mapTypeId: google.maps.MapTypeId.ROADMAP});
				
				{% for item in loc1 %}
				var {{item[0]}} = new google.maps.Marker({position: {{item[0]}},map: map,title: 'Location: {{item[0]}}, Capacity: {{item[3]}}, FixedCost: {{item[4]}}',icon: iconBase + 'factory_maps.png'});{% endfor %}
				{% for item in loc2 %}
				var {{item[0]}} = new google.maps.Marker({position: {{item[0]}},map: map,title: 'Location: {{item[0]}}, Demand: {{item[3]}}',icon: iconBase + 'placemark_circle_maps.png'});{% endfor %}
			}
		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6iDB1k3km4yxP-oNkh_URhN7axPdBXug&callback=initMap"></script>
	</body>
</html>
