<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Distribution Network Optimization</title>

         <!-- Bootstrap CSS CDN -->
		 <link rel="stylesheet" href="../static/bootstrap.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="../static/style.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
		<!--        map-->
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
    </head>
	<style>
	  th, td {
border: 1px solid #c3dee2 ;
border-collapse: collapse;
}
th, td {
padding: 8px;
text-align: left;
}
table#t01 tr:nth-child(even) {
background-color: #eee ;
}
table#t01 tr:nth-child(odd) {
background-color: #fff ;
}
table#t01 th {
background-color: #c3dee2 ;
color: black;
}
	.btn2{
	 background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	border-radius:10px;
	}
	.btn3{
	 background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	border-radius:10px;
	}
	.custom_line{
	display: inline-flex;
	}
	.custom_line li{
	padding-left:10px;
	}
	.custom_line li p{
	font-weight:600;
	}
	</style>
	  <style type="text/css">
  svg {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
  }
 
  path.domain {
    stroke: none;
  }
 
  .y .tick line {
    stroke: #ddd;
  }
  </style>
 
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
           <nav id="sidebar">
                <div class="sidebar-header">
                    <h3><a href="home">Distribution Network Optimization</a></h3>
                    <strong>DNO</strong>
                </div>

                <ul class="list-unstyled components">
                    <li class="">
                        <a href="dataimport1">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            Data Import
                        </a>
                    </li>
					<li class="active">
                        <a href="facility_location">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            Optimization
                        </a>
                    </li>
                    
              <!--      <li class="">
                        <a href="#homeSubmenu" >
                            <i class="glyphicon glyphicon-dashboard"></i>
                            Shipment Load Optimization
                        </a>
                        
                    </li>
                     -->
                    
                </ul>

                
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
				
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                
							   <li ><a href="demandplanning">Facility Location</a></li>
                                <li ><a href="Inventorymanagment">Shipment Load Optimization</a></li>
                                <li ><a href="DISTRIBUTION_NETWORK_OPT">Admin</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="container-background">
				<h2>Facility Location </h2>
                <div class="line"></div>
                </div>
				<div class="container-custom-body  row" style="margin-top:40px">
				<div class="content-text">
				
				<div class="col-md-3"><h4>Network Summary</h4><table id="t01" style=" height:200px;display:block;font-size: 11px;">
<thead>
<tr>
<th></th>
<th>Apple</th>
<th>Samsung</th>
<th>Huawei</th>

            
</tr>
</thead >
<tbody >
<tr>

<td>Model </td>
<td>Model
</td>
<td>Model
</td>
<td>Model
</td>



</tr>

<tr>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>

</tr>
<tr>
<td>Share</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>

</tr>


</tbody>
</table></div>
				<div class="col-md-3"><h4>Total Demand By DC</h4><div id="body2"></div></div>
				<div class="col-md-3"><h4>Total Product Cost By DC</h4><div id="body3"></div></div>
				<div class="col-md-3"><h4>Total Distribution Cost By DC</h4><div id="body1"></div></div>
				</div>
				</div>
				
				
			<div class="container-custom-body  row" style="margin-top:40px">
				<div class="content-text">
				<div class="col-md-4">
				<h4>Product Demand Distribution</h4>
				<table id="t01" style=" height:200px;display:block;font-size: 11px;">
				
<thead>
<tr>
<th></th>
<th>Apple</th>
<th>Samsung</th>
<th>Huawei</th>

            
</tr>
</thead >
<tbody >
<tr>

<td>Model </td>
<td>Model
</td>
<td>Model
</td>
<td>Model
</td>



</tr>

<tr>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>

</tr>
<tr>
<td>Share</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>

</tr>


</tbody>
</table>
		<table id="t01" style=" height:200px;display:block;font-size: 11px;">
<thead>
<tr>
<th></th>
<th>Apple</th>
<th>Samsung</th>
<th>Huawei</th>

            
</tr>
</thead >
<tbody >
<tr>

<td>Model </td>
<td>Model
</td>
<td>Model
</td>
<td>Model
</td>



</tr>

<tr>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>

</tr>
<tr>
<td>Share</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>
<td>Total Unit Sold</td>

</tr>


</tbody>
</table>
</div>
				<div class="col-md-8" style="border:1px solid #f2f2f2">
				<div class="row">
				<div class="col-md-4">
				<h4>Demand</h4>
				   <div id="body4" style="position:relative;    float: left; margin-top: 40px;background-color:#fff "></div>
				   <h4>Product Cost</h4>
				<div id="body5" style="position:relative;    float: left;background-color:#fff "></div>
				</div>
				<div class="col-md-8">
				   <div id="map" style="width: 100%; height: 400px;position:absolute"></div></div>
				   
				   </div>
				   
				   </div>
				</div>
				
			
				</div>
				
				
				
				
		
                </nav>
		

           </div>
        </div>





        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
		 
		 

	 <!--        map-->
      <script type="text/javascript">
    var locations = [
      ['Alabama , 431', 32.6010112, -86.6807365, 50, ],
      ['Alaska, 385', 61.3025006,	-158.7750198, 49],
      ['Arizona , 440', 34.1682185,	-111.930907	, 48],
      ['Arkansas, 291', 34.7519275,-92.1313784	, 47],
      ['California ,261',37.2718745,-119.2704153	, 46],
	  ['Colorado , 367',38.9979339	-105.550567	, 45],
      ['Connecticut,  285', 41.5187835	,-72.757507, 44	],
      ['Delaware, 391' ,39.145251	,-75.4189206, 43],
      ['Florida, 416', 27.9757279,	-83.8330166, 42	],
	  ['Georgia,  354', 32.6781248	,-83.2229757, 41	],
	  ['Hawaii , 220', 20.46	,-157.505	, 40],
	  ['Idaho , 451', 45.4945756	,-114.1424303	, 39],
	  ['Illinois , 596', 39.739318	,-89.504139, 38	],
	  ['Indiana , 307', 39.7662195,	-86.441277, 37	],
	  ['Iowa , 358', 41.9383166	,-93.389798	, 36],
	  ['Kansas , 299', 38.4987789,	-98.3200779	, 35],
	  ['Kentucky, 320', 37.8222935	,-85.7682399, 34],
	  ['Louisiana , 422', 30.9733766	,-91.4299097	, 33],
	  ['Maine, 330', 45.2185133	,-69.0148656, 32	],
	  ['Maryland , 347', 38.8063524,	-77.2684162, 31	],
	  ['Massachusetts , 354' , 42.0629398	,-71.718067, 30],
	  ['Michigan , 440', 44.9435598	,-86.4158049	, 29],
	  ['Minnesota , 234', 46.4418595	,-93.3655146, 28	],
	  ['Mississippi , 408', 32.5851062	,-89.8772196, 27],
	  ['Missouri,  463', 38.3046615,	-92.437099	, 26],
	  ['Montana , 387', 46.6797995	,-110.044783	, 25],
	  ['Nebraska , 380', 41.5008195,	-99.680902	, 24],
	  ['Nevada , 404', 38.502032,	-117.0230604	, 23],
	  ['New Hampshire, 275', 44.0012306	,-71.5799231, 22	],
	  ['New Jersey , 285', 40.1430058,	-74.7311156, 21	],
	  ['New Mexico , 418', 34.1662325	-106.0260685, 20	],
	  ['New York ,  373', 40.7056258	-73.97968, 19	],
	  ['North Carolina , 274', 35.2145629,	-79.8912675, 18	],
	  ['North Dakota , 376', 47.4678819,	-100.3022655, 17	],
	  ['Ohio , 364', 40.1903624	,-82.6692525, 16	],
	  ['Oklahoma , 377', 35.3097654,	-98.7165585, 15	],
	  ['Oregon , 336', 44.1419049	,-120.5380993	, 14],
	  ['Pennsylvania , 279', 40.9945928	,-77.6046984, 13	],
	  ['Rhode Island , 331', 41.5827282,	-71.5064508, 12	],
	  ['South Carolina , 558', 33.62505	,-80.9470381, 11	],
	  ['South Dakota , 299', 44.2126995,	-100.2471641, 10	],
	  ['Tennessee , 385', 35.830521,	-85.9785989, 9	],
	  ['Texas , 441', 31.1693363	,-100.0768425, 8	],
	  ['Utah , 240', 39.4997605	,-111.547028, 7	],
	  ['Vermont , 337', 43.8717545,	-72.4477828, 6	],
	  ['Virginia , 414', 38.0033855	,-79.4587861, 5	],
	  ['Washington , 373', 38.8993487,	-77.0145665, 4	],
	  ['West Virginia , 431',38.9201705,	-80.1816905, 3	],
	  ['Wisconsin , 355', 44.7862968	,-89.8267049, 2	],
	  ['Wyoming , 397', 43.000325	-107.5545669, 1	]





		
 ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom:4,
      center: new google.maps.LatLng(46.6797995	,-110.044783),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
   
   <!-- stacked bar -->
   <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
   <script type="text/javascript">

// Setup svg using Bostock's margin convention

var margin = {top: 20, right: 160, bottom: 35, left: 30};

var width = 400 - margin.left - margin.right,
    height = 200 - margin.top - margin.bottom;

var svg = d3.select("#body1")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


/* Data in strings like it would be if imported from a csv */

var data = [
  { year: "2006", redDelicious: "10", mcintosh: "15", oranges: "9", pears: "6" },
  { year: "2007", redDelicious: "12", mcintosh: "18", oranges: "9", pears: "4" },
  { year: "2008", redDelicious: "05", mcintosh: "20", oranges: "8", pears: "2" },
  { year: "2009", redDelicious: "01", mcintosh: "15", oranges: "5", pears: "4" },
  { year: "2010", redDelicious: "02", mcintosh: "10", oranges: "4", pears: "2" },
  { year: "2011", redDelicious: "03", mcintosh: "12", oranges: "6", pears: "3" },
  { year: "2012", redDelicious: "04", mcintosh: "15", oranges: "8", pears: "1" },
  
];

var parse = d3.time.format("%Y").parse;


// Transpose the data into layers
var dataset = d3.layout.stack()(["redDelicious", "mcintosh", "oranges", "pears"].map(function(fruit) {
  return data.map(function(d) {
    return {x: parse(d.year), y: +d[fruit]};
  });
}));


// Set x, y and colors
var x = d3.scale.ordinal()
  .domain(dataset[0].map(function(d) { return d.x; }))
  .rangeRoundBands([10, width-10], 0.02);

var y = d3.scale.linear()
  .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
  .range([height, 0]);

var colors = ["b33040", "#d25c4d", "#f2b447", "#d9d574"];


// Define and draw axes
var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(5)
  .tickSize(-width, 0, 0)
  .tickFormat( function(d) { return d } );

var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom")
  .tickFormat(d3.time.format("%Y"));

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis);

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);


// Create groups for each series, rects for each segment 
var groups = svg.selectAll("g.cost")
  .data(dataset)
  .enter().append("g")
  .attr("class", "cost")
  .style("fill", function(d, i) { return colors[i]; });

var rect = groups.selectAll("rect")
  .data(function(d) { return d; })
  .enter()
  .append("rect")
  .attr("x", function(d) { return x(d.x); })
  .attr("y", function(d) { return y(d.y0 + d.y); })
  .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
  .attr("width", x.rangeBand())
  .on("mouseover", function() { tooltip.style("display", null); })
  .on("mouseout", function() { tooltip.style("display", "none"); })
  .on("mousemove", function(d) {
    var xPosition = d3.mouse(this)[0] - 15;
    var yPosition = d3.mouse(this)[1] - 25;
    tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
    tooltip.select("text").text(d.y);
  });


// Draw legend
var legend = svg.selectAll(".legend")
  .data(colors)
  .enter().append("g")
  .attr("class", "legend")
  .attr("transform", function(d, i) { return "translate(30," + i * 19 + ")"; });
 
legend.append("rect")
  .attr("x", width - 18)
  .attr("width", 18)
  .attr("height", 18)
  .style("fill", function(d, i) {return colors.slice().reverse()[i];});
 
legend.append("text")
  .attr("x", width + 5)
  .attr("y", 9)
  .attr("dy", ".35em")
  .style("text-anchor", "start")
  .text(function(d, i) { 
    switch (i) {
      case 0: return "Anjou pears";
      case 1: return "Naval oranges";
      case 2: return "McIntosh apples";
      case 3: return "Red Delicious apples";
    }
  });


// Prep the tooltip bits, initial display is hidden
var tooltip = svg.append("g")
  .attr("class", "tooltip")
  .style("display", "none");
    
tooltip.append("rect")
  .attr("width", 30)
  .attr("height", 20)
  .attr("fill", "white")
  .style("opacity", 0.5);

tooltip.append("text")
  .attr("x", 15)
  .attr("dy", "1.2em")
  .style("text-anchor", "middle")
  .attr("font-size", "12px")
  .attr("font-weight", "bold");

</script>

	<!-- end stacked bar -->
	<script type="text/javascript">

// Setup svg using Bostock's margin convention

var margin = {top: 20, right: 160, bottom: 35, left: 30};

var width = 400 - margin.left - margin.right,
    height = 200 - margin.top - margin.bottom;

var svg = d3.select("#body2")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


/* Data in strings like it would be if imported from a csv */

var data = [
  { year: "2006", redDelicious: "10" },
  { year: "2007", redDelicious: "12" },
  { year: "2008", redDelicious: "05" },
  { year: "2009", redDelicious: "01" },
  { year: "2010", redDelicious: "02" },
  { year: "2011", redDelicious: "03" },

];

var parse = d3.time.format("%Y").parse;


// Transpose the data into layers
var dataset = d3.layout.stack()(["redDelicious", "mcintosh", "oranges", "pears"].map(function(fruit) {
  return data.map(function(d) {
    return {x: parse(d.year), y: +d[fruit]};
  });
}));


// Set x, y and colors
var x = d3.scale.ordinal()
  .domain(dataset[0].map(function(d) { return d.x; }))
  .rangeRoundBands([10, width-10], 0.02);

var y = d3.scale.linear()
  .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
  .range([height, 0]);

var colors = ["#6969da"];


// Define and draw axes
var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(5)
  .tickSize(-width, 0, 0)
  .tickFormat( function(d) { return d } );

var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom")
  .tickFormat(d3.time.format("%Y"));

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis);

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);


// Create groups for each series, rects for each segment 
var groups = svg.selectAll("g.cost")
  .data(dataset)
  .enter().append("g")
  .attr("class", "cost")
  .style("fill", function(d, i) { return colors[i]; });

var rect = groups.selectAll("rect")
  .data(function(d) { return d; })
  .enter()
  .append("rect")
  .attr("x", function(d) { return x(d.x); })
  .attr("y", function(d) { return y(d.y0 + d.y); })
  .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
  .attr("width", x.rangeBand())
  .on("mouseover", function() { tooltip.style("display", null); })
  .on("mouseout", function() { tooltip.style("display", "none"); })
  .on("mousemove", function(d) {
    var xPosition = d3.mouse(this)[0] - 15;
    var yPosition = d3.mouse(this)[1] - 25;
    tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
    tooltip.select("text").text(d.y);
  });


// Draw legend
var legend = svg.selectAll(".legend")
  .data(colors)
  .enter().append("g")
  .attr("class", "legend")
  .attr("transform", function(d, i) { return "translate(30," + i * 19 + ")"; });
 



// Prep the tooltip bits, initial display is hidden
var tooltip = svg.append("g")
  .attr("class", "tooltip")
  .style("display", "none");
    
tooltip.append("rect")
  .attr("width", 30)
  .attr("height", 20)
  .attr("fill", "white")
  .style("opacity", 0.5);

tooltip.append("text")
  .attr("x", 15)
  .attr("dy", "1.2em")
  .style("text-anchor", "middle")
  .attr("font-size", "12px")
  .attr("font-weight", "bold");

</script>
<script type="text/javascript">

// Setup svg using Bostock's margin convention

var margin = {top: 20, right: 160, bottom: 35, left: 30};

var width = 400 - margin.left - margin.right,
    height = 200 - margin.top - margin.bottom;

var svg = d3.select("#body3")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


/* Data in strings like it would be if imported from a csv */

var data = [
  { year: "2006", redDelicious: "10" },
  { year: "2007", redDelicious: "12" },
  { year: "2008", redDelicious: "05" },
  { year: "2009", redDelicious: "01" },
  { year: "2010", redDelicious: "02" },
  { year: "2011", redDelicious: "03" }

];

var parse = d3.time.format("%Y").parse;


// Transpose the data into layers
var dataset = d3.layout.stack()(["redDelicious", "mcintosh", "oranges", "pears"].map(function(fruit) {
  return data.map(function(d) {
    return {x: parse(d.year), y: +d[fruit]};
  });
}));


// Set x, y and colors
var x = d3.scale.ordinal()
  .domain(dataset[0].map(function(d) { return d.x; }))
  .rangeRoundBands([10, width-10], 0.02);

var y = d3.scale.linear()
  .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
  .range([height, 0]);

var colors = ["#6969da"];


// Define and draw axes
var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(5)
  .tickSize(-width, 0, 0)
  .tickFormat( function(d) { return d } );

var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom")
  .tickFormat(d3.time.format("%Y"));

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis);

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);


// Create groups for each series, rects for each segment 
var groups = svg.selectAll("g.cost")
  .data(dataset)
  .enter().append("g")
  .attr("class", "cost")
  .style("fill", function(d, i) { return colors[i]; });

var rect = groups.selectAll("rect")
  .data(function(d) { return d; })
  .enter()
  .append("rect")
  .attr("x", function(d) { return x(d.x); })
  .attr("y", function(d) { return y(d.y0 + d.y); })
  .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
  .attr("width", x.rangeBand())
  .on("mouseover", function() { tooltip.style("display", null); })
  .on("mouseout", function() { tooltip.style("display", "none"); })
  .on("mousemove", function(d) {
    var xPosition = d3.mouse(this)[0] - 15;
    var yPosition = d3.mouse(this)[1] - 25;
    tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
    tooltip.select("text").text(d.y);
  });


// Draw legend
var legend = svg.selectAll(".legend")
  .data(colors)
  .enter().append("g")
  .attr("class", "legend")
  .attr("transform", function(d, i) { return "translate(30," + i * 19 + ")"; });
 



// Prep the tooltip bits, initial display is hidden
var tooltip = svg.append("g")
  .attr("class", "tooltip")
  .style("display", "none");
    
tooltip.append("rect")
  .attr("width", 30)
  .attr("height", 20)
  .attr("fill", "white")
  .style("opacity", 0.5);

tooltip.append("text")
  .attr("x", 15)
  .attr("dy", "1.2em")
  .style("text-anchor", "middle")
  .attr("font-size", "12px")
  .attr("font-weight", "bold");

</script>
<script type="text/javascript">

// Setup svg using Bostock's margin convention

var margin = {top: 20, right: 0, bottom: 35, left: 30};

var width = 200 - margin.left - margin.right,
    height = 150 - margin.top - margin.bottom;

var svg = d3.select("#body4")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


/* Data in strings like it would be if imported from a csv */

var data = [
  { year: "2006", redDelicious: "10" },
  { year: "2007", redDelicious: "12" },
  { year: "2008", redDelicious: "05" },
  { year: "2009", redDelicious: "01" },
  { year: "2010", redDelicious: "02" },
 
];

var parse = d3.time.format("%Y").parse;


// Transpose the data into layers
var dataset = d3.layout.stack()(["redDelicious", "mcintosh", "oranges", "pears"].map(function(fruit) {
  return data.map(function(d) {
    return {x: parse(d.year), y: +d[fruit]};
  });
}));


// Set x, y and colors
var x = d3.scale.ordinal()
  .domain(dataset[0].map(function(d) { return d.x; }))
  .rangeRoundBands([10, width-10], 0.02);

var y = d3.scale.linear()
  .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
  .range([height, 0]);

var colors = ["#6969da"];


// Define and draw axes
var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(5)
  .tickSize(-width, 0, 0)
  .tickFormat( function(d) { return d } );

var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom")
  .tickFormat(d3.time.format("%Y"));

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis);

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);


// Create groups for each series, rects for each segment 
var groups = svg.selectAll("g.cost")
  .data(dataset)
  .enter().append("g")
  .attr("class", "cost")
  .style("fill", function(d, i) { return colors[i]; });

var rect = groups.selectAll("rect")
  .data(function(d) { return d; })
  .enter()
  .append("rect")
  .attr("x", function(d) { return x(d.x); })
  .attr("y", function(d) { return y(d.y0 + d.y); })
  .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
  .attr("width", x.rangeBand())
  .on("mouseover", function() { tooltip.style("display", null); })
  .on("mouseout", function() { tooltip.style("display", "none"); })
  .on("mousemove", function(d) {
    var xPosition = d3.mouse(this)[0] - 15;
    var yPosition = d3.mouse(this)[1] - 25;
    tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
    tooltip.select("text").text(d.y);
  });


// Draw legend
var legend = svg.selectAll(".legend")
  .data(colors)
  .enter().append("g")
  .attr("class", "legend")
  .attr("transform", function(d, i) { return "translate(30," + i * 19 + ")"; });
 



// Prep the tooltip bits, initial display is hidden
var tooltip = svg.append("g")
  .attr("class", "tooltip")
  .style("display", "none");
    
tooltip.append("rect")
  .attr("width", 30)
  .attr("height", 20)
  .attr("fill", "white")
  .style("opacity", 0.5);

tooltip.append("text")
  .attr("x", 15)
  .attr("dy", "1.2em")
  .style("text-anchor", "middle")
  .attr("font-size", "12px")
  .attr("font-weight", "bold");

</script>
<script type="text/javascript">

// Setup svg using Bostock's margin convention

var margin = {top: 20, right: 0, bottom: 35, left: 30};

var width = 200 - margin.left - margin.right,
    height = 150 - margin.top - margin.bottom;

var svg = d3.select("#body5")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


/* Data in strings like it would be if imported from a csv */

var data = [
  { year: "2006", redDelicious: "10" },
  { year: "2007", redDelicious: "12" },
  { year: "2008", redDelicious: "05" },
  { year: "2009", redDelicious: "01" },
  { year: "2010", redDelicious: "02" },
 
];

var parse = d3.time.format("%Y").parse;


// Transpose the data into layers
var dataset = d3.layout.stack()(["redDelicious", "mcintosh", "oranges", "pears"].map(function(fruit) {
  return data.map(function(d) {
    return {x: parse(d.year), y: +d[fruit]};
  });
}));


// Set x, y and colors
var x = d3.scale.ordinal()
  .domain(dataset[0].map(function(d) { return d.x; }))
  .rangeRoundBands([10, width-10], 0.02);

var y = d3.scale.linear()
  .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
  .range([height, 0]);

var colors = ["#6969da"];


// Define and draw axes
var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(5)
  .tickSize(-width, 0, 0)
  .tickFormat( function(d) { return d } );

var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom")
  .tickFormat(d3.time.format("%Y"));

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis);

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);


// Create groups for each series, rects for each segment 
var groups = svg.selectAll("g.cost")
  .data(dataset)
  .enter().append("g")
  .attr("class", "cost")
  .style("fill", function(d, i) { return colors[i]; });

var rect = groups.selectAll("rect")
  .data(function(d) { return d; })
  .enter()
  .append("rect")
  .attr("x", function(d) { return x(d.x); })
  .attr("y", function(d) { return y(d.y0 + d.y); })
  .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
  .attr("width", x.rangeBand())
  .on("mouseover", function() { tooltip.style("display", null); })
  .on("mouseout", function() { tooltip.style("display", "none"); })
  .on("mousemove", function(d) {
    var xPosition = d3.mouse(this)[0] - 15;
    var yPosition = d3.mouse(this)[1] - 25;
    tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
    tooltip.select("text").text(d.y);
  });


// Draw legend
var legend = svg.selectAll(".legend")
  .data(colors)
  .enter().append("g")
  .attr("class", "legend")
  .attr("transform", function(d, i) { return "translate(30," + i * 19 + ")"; });
 



// Prep the tooltip bits, initial display is hidden
var tooltip = svg.append("g")
  .attr("class", "tooltip")
  .style("display", "none");
    
tooltip.append("rect")
  .attr("width", 30)
  .attr("height", 20)
  .attr("fill", "white")
  .style("opacity", 0.5);

tooltip.append("text")
  .attr("x", 15)
  .attr("dy", "1.2em")
  .style("text-anchor", "middle")
  .attr("font-size", "12px")
  .attr("font-weight", "bold");

</script>
<script type="text/javascript">

// Setup svg using Bostock's margin convention

var margin = {top: 20, right: 160, bottom: 35, left: 30};

var width = 350 - margin.left - margin.right,
    height = 150 - margin.top - margin.bottom;

var svg = d3.select("#body6")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


/* Data in strings like it would be if imported from a csv */

var data = [
  { year: "2006", redDelicious: "10" },
  { year: "2007", redDelicious: "12" },
  { year: "2008", redDelicious: "05" },
  { year: "2009", redDelicious: "01" },
  { year: "2010", redDelicious: "02" },
 
];

var parse = d3.time.format("%Y").parse;


// Transpose the data into layers
var dataset = d3.layout.stack()(["redDelicious", "mcintosh", "oranges", "pears"].map(function(fruit) {
  return data.map(function(d) {
    return {x: parse(d.year), y: +d[fruit]};
  });
}));


// Set x, y and colors
var x = d3.scale.ordinal()
  .domain(dataset[0].map(function(d) { return d.x; }))
  .rangeRoundBands([10, width-10], 0.02);

var y = d3.scale.linear()
  .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
  .range([height, 0]);

var colors = ["#6969da"];


// Define and draw axes
var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(5)
  .tickSize(-width, 0, 0)
  .tickFormat( function(d) { return d } );

var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom")
  .tickFormat(d3.time.format("%Y"));

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis);

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);


// Create groups for each series, rects for each segment 
var groups = svg.selectAll("g.cost")
  .data(dataset)
  .enter().append("g")
  .attr("class", "cost")
  .style("fill", function(d, i) { return colors[i]; });

var rect = groups.selectAll("rect")
  .data(function(d) { return d; })
  .enter()
  .append("rect")
  .attr("x", function(d) { return x(d.x); })
  .attr("y", function(d) { return y(d.y0 + d.y); })
  .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
  .attr("width", x.rangeBand())
  .on("mouseover", function() { tooltip.style("display", null); })
  .on("mouseout", function() { tooltip.style("display", "none"); })
  .on("mousemove", function(d) {
    var xPosition = d3.mouse(this)[0] - 15;
    var yPosition = d3.mouse(this)[1] - 25;
    tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
    tooltip.select("text").text(d.y);
  });


// Draw legend
var legend = svg.selectAll(".legend")
  .data(colors)
  .enter().append("g")
  .attr("class", "legend")
  .attr("transform", function(d, i) { return "translate(30," + i * 19 + ")"; });
 



// Prep the tooltip bits, initial display is hidden
var tooltip = svg.append("g")
  .attr("class", "tooltip")
  .style("display", "none");
    
tooltip.append("rect")
  .attr("width", 30)
  .attr("height", 20)
  .attr("fill", "white")
  .style("opacity", 0.5);

tooltip.append("text")
  .attr("x", 15)
  .attr("dy", "1.2em")
  .style("text-anchor", "middle")
  .attr("font-size", "12px")
  .attr("font-weight", "bold");

</script>
<script type="text/javascript">

// Setup svg using Bostock's margin convention

var margin = {top: 20, right: 160, bottom: 35, left: 30};

var width = 350 - margin.left - margin.right,
    height = 150 - margin.top - margin.bottom;

var svg = d3.select("#body7")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


/* Data in strings like it would be if imported from a csv */

var data = [
  { year: "2006", redDelicious: "10" },
  { year: "2007", redDelicious: "12" },
  { year: "2008", redDelicious: "05" },
  { year: "2009", redDelicious: "01" },
  { year: "2010", redDelicious: "02" },
 
];

var parse = d3.time.format("%Y").parse;


// Transpose the data into layers
var dataset = d3.layout.stack()(["redDelicious", "mcintosh", "oranges", "pears"].map(function(fruit) {
  return data.map(function(d) {
    return {x: parse(d.year), y: +d[fruit]};
  });
}));


// Set x, y and colors
var x = d3.scale.ordinal()
  .domain(dataset[0].map(function(d) { return d.x; }))
  .rangeRoundBands([10, width-10], 0.02);

var y = d3.scale.linear()
  .domain([0, d3.max(dataset, function(d) {  return d3.max(d, function(d) { return d.y0 + d.y; });  })])
  .range([height, 0]);

var colors = ["#6969da"];


// Define and draw axes
var yAxis = d3.svg.axis()
  .scale(y)
  .orient("left")
  .ticks(5)
  .tickSize(-width, 0, 0)
  .tickFormat( function(d) { return d } );

var xAxis = d3.svg.axis()
  .scale(x)
  .orient("bottom")
  .tickFormat(d3.time.format("%Y"));

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis);

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis);


// Create groups for each series, rects for each segment 
var groups = svg.selectAll("g.cost")
  .data(dataset)
  .enter().append("g")
  .attr("class", "cost")
  .style("fill", function(d, i) { return colors[i]; });

var rect = groups.selectAll("rect")
  .data(function(d) { return d; })
  .enter()
  .append("rect")
  .attr("x", function(d) { return x(d.x); })
  .attr("y", function(d) { return y(d.y0 + d.y); })
  .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
  .attr("width", x.rangeBand())
  .on("mouseover", function() { tooltip.style("display", null); })
  .on("mouseout", function() { tooltip.style("display", "none"); })
  .on("mousemove", function(d) {
    var xPosition = d3.mouse(this)[0] - 15;
    var yPosition = d3.mouse(this)[1] - 25;
    tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
    tooltip.select("text").text(d.y);
  });


// Draw legend
var legend = svg.selectAll(".legend")
  .data(colors)
  .enter().append("g")
  .attr("class", "legend")
  .attr("transform", function(d, i) { return "translate(30," + i * 19 + ")"; });
 



// Prep the tooltip bits, initial display is hidden
var tooltip = svg.append("g")
  .attr("class", "tooltip")
  .style("display", "none");
    
tooltip.append("rect")
  .attr("width", 30)
  .attr("height", 20)
  .attr("fill", "white")
  .style("opacity", 0.5);

tooltip.append("text")
  .attr("x", 15)
  .attr("dy", "1.2em")
  .style("text-anchor", "middle")
  .attr("font-size", "12px")
  .attr("font-weight", "bold");

</script>

    </body>
</html>
